# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore Idea customizations
.idea

# Ignore VSCode settings
.vscode

# Ignore Eclipse settings
.project
.settings/
.classpath

# Ignore Java compiled files
*.class
*.DS_Store
deleteme/
